<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>


## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [147]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached sqlalchemy-1.3.9-cp313-cp313-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.45
    Uninstalling SQLAlchemy-2.0.45:
      Successfully uninstalled SQLAlchemy-2.0.45
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
alembic 1.17.2 requires SQLAlchemy>=1.4.0, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
optuna 4.6.0 requires sqlalchemy>=1.4.2, but you have sqlalchemy 1.3.9 which is incompatible.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [148]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython-sql) (9.7.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama>=0.4.4 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\stefan\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)
Using cached sqlalchemy-2.0.45-cp313-cp313-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.45

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (3.17.0)
Requirement already satisfied: ipython in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\stefan\appdata\roaming\python\python313\site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\stefan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama>=0.4.4 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\stefan\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [149]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [150]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [151]:
!pip install -q pandas

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [152]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
#df = pd.read_csv("spacex_web_scraped.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

121

**Note:This below code is added to remove blank rows from table**

In [154]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [155]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Booster_landing"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [156]:
%sql Select * from sqlite_master

 * sqlite:///my_data1.db
Done.

[('table', 'SPACEXTBL', 'SPACEXTBL', 2, 'CREATE TABLE "SPACEXTBL" (\n"Flight_No." INTEGER,\n  "Launch_site" TEXT,\n  "Payload" TEXT,\n  "Payload_mass" REAL,\n  "Orbit" TEXT,\n  "Customer" TEXT,\n  "Launch_outcome" TEXT,\n  "Version_Booster" TEXT,\n  "Booster_landing" TEXT,\n  "Date" TEXT,\n  "Time" TEXT\n)'),
 ('table', 'SPACEXTABLE', 'SPACEXTABLE', 3, 'CREATE TABLE SPACEXTABLE(\n  "Flight_No." INT,\n  Launch_site TEXT,\n  Payload TEXT,\n  Payload_mass REAL,\n  Orbit TEXT,\n  Customer TEXT,\n  Launch_outcome TEXT,\n  Version_Booster TEXT,\n  Booster_landing TEXT,\n  Date TEXT,\n  Time TEXT\n)')]

In [158]:
pd.read_sql('SELECT DISTINCT "Launch_site" FROM SPACEXTABLE', con)

      Launch_site
0           CCAFS
1            VAFB
2  Cape Canaveral
3             KSC
4           CCSFS

In [159]:
%sql SELECT DISTINCT [Launch_site] FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS',), ('VAFB',), ('Cape Canaveral',), ('KSC',), ('CCSFS',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [160]:
%sql SELECT * from SPACEXTABLE where [Launch_site] like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[(1, 'CCAFS', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'F9 v1.07B0003.18', 'Failure', '4 June 2010', '18:45'),
 (2, 'CCAFS', 'Dragon', 0.0, 'LEO', 'NASA (COTS)\nNRO', 'Success', 'F9 v1.07B0004.18', 'Failure', '8 December 2010', '15:43'),
 (3, 'CCAFS', 'Dragon', 525.0, 'LEO', 'NASA (COTS)', 'Success', 'F9 v1.07B0005.18', 'No\xa0attempt', '22 May 2012', '07:44'),
 (4, 'CCAFS', 'SpaceX CRS-1', 4700.0, 'LEO', 'NASA (CRS)', 'Success', 'F9 v1.07B0006.18', 'No attempt', '8 October 2012', '00:35'),
 (5, 'CCAFS', 'SpaceX CRS-2', 4877.0, 'LEO', 'NASA (CRS)', 'Success', 'F9 v1.07B0007.18', 'No\xa0attempt', '1 March 2013', '15:10')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [161]:
%sql SELECT SUM([Payload_mass]) from SPACEXTABLE where "Customer" ='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(59941.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [162]:
%sql SELECT AVG([Payload_mass]) from SPACEXTABLE where [Version_Booster] = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [163]:
%sql SELECT "Date" from SPACEXTABLE where [Launch_outcome] like '%Success%' LIMIT 1

 * sqlite:///my_data1.db
Done.

[('4 June 2010',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%%sql
select 'Version_Booster' from SPACEXTBL
where 'Booster_landing'='%Success%' and 'Payload_mass' between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[]

### Task 7




##### List the total number of successful and failure mission outcomes

In [170]:
%sql SELECT Count("Booster_landing") from "SPACEXTABLE" where "Booster_landing" like '%Success%'

 * sqlite:///my_data1.db
Done.

[(80,)]

In [174]:
%%sql SELECT Count("Booster_landing") from "SPACEXTABLE" 
    where "Booster_landing" like "%Failure%"

 * sqlite:///my_data1.db
Done.

[(11,)]

### Task 8



##### List all the Version_Boosters that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [175]:
%%sql select "Version_Booster" from "SPACEXTABLE"  where 
    "Payload_mass" = (select max("Payload_mass") from "SPACEXTABLE" )

 * sqlite:///my_data1.db
Done.

[('F9 B5',),
 ('F9 B5',),
 ('F9 B5',),
 ('F9 B5',),
 ('F9 B5',),
 ('F9 B5',),
 ('F9 B5',),
 ('F9 B5B1060.2563',),
 ('F9 B5B1058.3565',),
 ('F9 B5B1051.6568',),
 ('F9 B5',),
 ('F9 B5 ♺[',),
 ('F9 B5B1051.8609',),
 ('F9 B5 ♺[',),
 ('F9 B5 ♺',),
 ('F9 B5 ♺[',),
 ('F9 B5 ♺[',),
 ('F9 B5 ♺',),
 ('F9 B5B1060.6643',),
 ('F9 B5 ♺',),
 ('F9 B5B1060.7652',),
 ('F9 B5B1049.9655',),
 ('F9 B5B1051.10657',),
 ('F9 B5B1063.2665',)]

### Task 9


##### List the records which will display the month names, failure Booster_landings in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [201]:
%%sql SELECT 
    SUBSTR("Date", INSTR("Date", ' ') + 1, INSTR(SUBSTR("Date", INSTR("Date", ' ') + 1), ' ')) AS month,
    "Version_Booster", 
    "Launch_site" 
FROM "SPACEXTABLE" 
WHERE SUBSTR("Date", -4) = '2015' 
    AND "Booster_landing" LIKE '%Failure%' 
    AND "Booster_landing" LIKE '%drone ship%'

 * sqlite:///my_data1.db
Done.

[]

In [200]:
%%sql select substr("Date", 4, 2) as "month", "Version_Booster", "Launch_site" 
    from "SPACEXTABLE"  where "Booster_landing" = '%Failure%' and "Date"= '%2015%'

 * sqlite:///my_data1.db
Done.

[]

In [197]:
%sql select monthname(DATE) as month, "Booster_landing" from SPACEXTBL where DATE LIKE '2015%' and "Booster_landing" LIKE 'Failure%'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such function: monthname
[SQL: select monthname(DATE) as month, Booster_landing from SPACEXTBL where DATE LIKE '2015%' and Booster_landing LIKE 'Failure%']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [196]:
%%sql
select "Booster_landing", COUNT(Booster_landing) from SPACEXTBL
where Booster_landing like 'Success%' and SPACEXTBL.Date between '04/06/2010' AND '20/03/2017'
group by 1
order by 2 DESC

SELECT LandingOutcome, COUNT(Booster_landing)
        FROM SpaceX
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY "Booster_landing"
        ORDER BY COUNT(Booster_landing) DESC

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "SELECT": syntax error
[SQL: select "Booster_landing", COUNT(Booster_landing) from SPACEXTBL
where Booster_landing like 'Success%' and SPACEXTBL.Date between '04/06/2010' AND '20/03/2017'
group by 1
order by 2 DESC

SELECT LandingOutcome, COUNT(Booster_landing)
        FROM SpaceX
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY "Booster_landing"
        ORDER BY COUNT(Booster_landing) DESC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>